.modal {
    width: 100%;
  }
  
  .btn_form {
    padding: 1em 2em;
    background-color: #EB9B00;
  }
  
  .corpoModalCadastro {
    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 5rem;
  }
  
  .corpoModalCadastro form {
    width: 500px;
    max-width: 100%;
  }
  
  .corpoModalCadastro form .acoes {
    margin-top: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .btnCadastrar {
    padding: 0.5em 2em;
    border: none;
    background-color: #EB9B00;
    color: white;
    max-width: 100%; 
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  
  .acoes {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .corpoModalCadastro {
      flex-direction: column;
      gap: 2rem; 
    }
  
    .btnCadastrar {
      width: 100%; 
      text-align: center !important; 
    }
  }
  