.corpoModalCadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    flex-direction: row;
    padding-top: 32px;
    margin-top: 2rem; 
    width: 100%;
    max-width: 100%;
    height: auto;
}



.corpoModalCadastro form {
    width: 100%;
    max-width: 450px; 
    margin: 0 auto;
    padding: 0 1rem; 
}
.corpoModalCadastro form .acoes {
    margin-top: 48px;
    text-align: center;
}

.container__imagem {
    max-width: 40%; 
    text-align: center;
    margin-bottom: 1rem; 
}

.imgModal {
    max-width: 110%;  
    height: auto; 
}



.linha {
    margin-top: 1rem;
}

.btn__Loguin {
    padding: 0.1em 2em;
    background-color: #EB9B00;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__Loguin:hover {
    background-color: #d68700;
}

@media (max-width: 768px) {
    .corpoModalCadastro {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        padding: 1rem; 
    }

    .imgModal {
        max-width: 300px;
        height: 200px; 
    }

    .acoes {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
    }

    .container__imagem {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    .btn__Loguin {
        width: 100%; 
        padding: 1em 0;
    }
}