.lixeira{
    margin-left: 1rem !important;
}

.botao{
    background-color:#021526 ;
    padding: 0.8em 3em;
    text-decoration: none;
    color: white;
}

.ModalCarrinhoBody {
    display: flex;
    flex-direction: column;
    height: 100%; 
  }
  
  .ModalCarrinhoContent {
    flex-grow: 1; 
    overflow-y: auto; 
  }
  
  .TotalContainer {
    position: sticky;
    bottom: 0;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    text-align: right;
    background-color: white; 
    z-index: 10; 
  }
  

  .btnCarrinho{
    background-color: #021526;
    border: none;
    padding: 1em 2em;
    color: white;
    border-radius: 0.5rem;

  }