.btn-nav {
    display: flex; 
    align-items: center;
    justify-content: center; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    font-weight: bolder; 
    gap: 8px;
    padding: 8px 12px; 
}

.btn-nav .btn-text {
    display: inline; 
}

@media (max-width: 768px) {
    .btn-nav .btn-text {
        display: none; 
    }
}
