.pedidos {
    padding: 32px;
  
    h1 {
      margin-top: 0;
    }
  
    .pedido {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #002F52;
      padding: 12px;
      flex-wrap: wrap; 
  
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  
    .excluir-btn, 
    .detahes-btn {
      padding: 0.5em 1em;
      color: white;
      border: none;
      white-space: nowrap;
      width: 100%; 
      margin-bottom: 8px;
      text-align: center; 
    }
  
    .excluir-btn {
      background-color: red;
    }
  
    .detahes-btn {
      background-color: #EB9B00;
    }
  }
  
  @media (max-width: 768px) {
    .pedido {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .pedido ul {
      margin-bottom: 16px; 
    }
  }
  
  @media (max-width: 480px) { 
    .pedidos {
      padding: 16px; 
    }
  
    .pedido {
      padding: 8px;
    }
  
    .excluir-btn, 
    .detahes-btn {
      font-size: 0.9em; 
      padding: 0.4em 0.8em;
    }
  }
  