.banner-principal {
    padding: 1rem;
    background-color: #021526;
    padding: 80px 0;
    text-align: center;
    color: #FFF;
}
.h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 4px;
}
.banner-principal h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
}